.footer {
    background-color: #150B0B;
    padding: 20px 0px;
    font-family: "Inter", sans-serif;
    font-size: 13px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.left {
    display: flex;
    align-items: center;
}

.logo {
    height: 89px;
}

.brand {
    font-family: "Kaushan Script";
    color: #fff;
    font-size: 29px;
    font-weight: 400;
}

.center {
    text-align: center;
    color: #FFFEFE;
    font-size: 14px;
    font-weight: 300;
}

.right {
    color: #FFFEFE;
    text-align: right;
    font-size: 14px;
    font-weight: 300;
}

.animated-gradient-text {
    text-decoration: none;
    animation: colorFade 3s ease-in-out infinite;
}

@keyframes colorFade {

    0%,
    100% {
        color: #fff;
    }

    50% {
        color: #EA2A33;
    }
}

@media (max-width: 768px) {
    .footer .container {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .logo {
        height: 59px;
    }

    .brand {
        font-size: 20px;
    }

    .right {
        text-align: center;
    }
}