body {
    font-family: "Inter", sans-serif;
    margin: 0;
}

.custom-header {
    background-color: #211111;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1020;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.029);
}

/* Logo Section */
.logo-img {
    width: 89px;
    height: auto;
}

.brand-text {
    font-family: "Kaushan Script", cursive;
    color: #fff;
    font-size: 29px;
    font-weight: 400;
}

/* Nav Links */
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    margin: 0 10px;
    transition: color 0.3s, border-bottom 0.3s;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #faa938;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #faa938 !important;
    border-bottom: 2px solid #faa938;
}

/* Contact Button */
.custom-header .btn-contact {
    background-color: #ea2a33;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    padding: 6px 15px;
    color: #fff;
    transition: 0.3s;
}

.custom-header .btn-contact:hover {
    background-color: #faa938;
    color: #fff;
}

/* Responsive */
@media (max-width: 992px) {
    .navbar-collapse {
        background-color: #1e1111;
        padding: 10px 0;
    }

    .nav-link {
        margin-right: 0 !important;
        padding: 8px 0;
    }

    .btn-contact {
        width: 100%;
        margin-top: 10px;
    }

    .logo-img {
        width: 60px;
    }

    .brand-text {
        font-size: 20px;
    }

    .navbar-dark .navbar-nav .nav-link {
        font-size: 14px;
    }
}

/* Tablet range */
@media (min-width: 992px) and (max-width: 1164px) {
    .custom-header {
        padding: 10px 20px;
    }

    .brand-text {
        font-size: 22px;
    }

    .custom-header .navbar-nav .nav-link {
        margin: 0 !important;
        font-size: 14px;
    }

    .btn-contact {
        padding: 10px 14px;
        font-size: 14px;
    }
}